*{
    box-sizing: border-box;

}
body{
    font-family: "Cera Pro";
    font-weight:400 ;
    font-style: normal;
    padding: 0;
    margin: 0 auto;
    max-width:1440px;
}


.clear-float::after{
    content: "";
    display: block;
    clear: both;

}
.container img{
    float: left;
    width:30%;
}
.container p{
    float: left;
}

.container{

float: left;
height: 775px;
max-width:310px;
width: 100%;
background: #FBFBFB;
margin-top: 100px;
margin-left:130px;

}
.images  {
 
    
  clear: both;
 

}
  .images img{
   
  max-width: 100%;
   float: right;
    width: 390px;
 text-align: center;
   margin-top: 238px;
   margin-left:180px;
   
  }

section .product-filter{
   overflow: hidden;
    width: 835px;
   
}




.sidebar{
    margin:0 auto;
float: left;
background: #FBFBFB;
padding:14px 18px;
   max-width:310px;
   
   
  
   
   
   
}
.sidebar h2{
font-size: 18px;
font-weight: 700;
line-height: 16px;
float: left;
color: #3D3D3D;

}
.sidebar ul{
font-size: 15px;
font-weight: 400;
line-height: 40px;
text-align: left;
margin:0px;
padding:0px;
list-style-type: none;


}
.sidebar ul a {
    text-decoration: none;
color:#3D3D3D;
padding:12px 10px;
}
.sidebar ul li {
margin-bottom: 15px;
}


.sidebar ul li.active a, .sidebar ul li:hover a {
font-weight:700;
color: #46A358;

}
.main{
width:835px;
height:1200px;
float: right;
margin-top: 100px; 
margin-left: 50px;
margin-right: 102px;



}


.tabs{
    float:left;
    white-space: nowrap;
    font-size: 15px;
font-weight: 400;
line-height: 16px;
text-align: left;

    
}
.tabs a{
    margin-right: 37px;
    text-decoration: none;
    color: #3D3D3D;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    
    
}
.tabs a:last-child{
    margin-right:380px;
}
.tabs a.active, .tabs a:hover { 
    color: #46A358;
    border-bottom: 2px solid #46A358;
    padding-bottom:8px;

font-weight: 700;


}

.sorting{

margin:0;



}
.sorting p{
    float: left;
    margin: 0;
    padding:0;
    white-space: nowrap;
}
.sorting select{
    float:right;
    margin: -2px;
   
    
   
}
 .product-item{
   float:left;
    width:30%;
    margin:0px;
    padding-top: 80px ;
    padding-right: 50px;
   
  
    
    
}
.product-item:nth-child(3n){
    margin-right:0px;
}
.product-item img{
    width:100%;
    height:250px;
    object-fit: cover;

   
  
}
.product-item img:nth-child(1){
    padding:31px 4px 20px;
    background-color: #FBFBFB;

}


h3{
    
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: left;
color: #3D3D3D;
margin-top: 14px;

}
.item-product-price  {
  
font-size: 18px;
font-weight: 700;
line-height: 16px;
text-align: left;
color: #46A358;
margin-top: 8px;

}
.pagination{
    width:215px;
    margin-top:160px;
    float: right;
}
.pagination a{
    float: left;
    padding:8px 10px;
    text-decoration: none;
    border: 1px solid #ccc;
   margin-left: 5px;
 
   font-size: 15px;
   font-weight: 200;
   color: #3D3D3D;

   
   

}
.pagination a.active, .pagination a:hover{
    background-color: #46A358;
    color: white;
}
